.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.home .container .main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.home .container .aside {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}