* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.9);
  background-color: #f2f2f2;
  padding-top: 100px;
  font: 1em sans-serif;
  line-height: 1.5;
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
figure,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: none;
  vertical-align: top;
  text-indent: -9999px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
button {
  outline: 0;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
*:focus {
  outline: none;
  box-shadow: none;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.container .main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container .aside {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.container .networks {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
