@font-face {
  font-family: 'Acto';
  font-style: normal;
  font-weight: 400;
  src: local('Acto-Regular'),
    url(/__export/1641560917000/system/modules/com.tfsla.sitio.core.sites.farm/site/resources/fonts/acto-400.woff2)
      format('woff2'),
    url(/__export/1641560917000/system/modules/com.tfsla.sitio.core.sites.farm/site/resources/fonts/acto-400.woff)
      format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Acto';
  font-style: normal;
  font-weight: bold;
  src: local('Acto-Bold'),
    url(/__export/1641560918000/system/modules/com.tfsla.sitio.core.sites.farm/site/resources/fonts/acto-700.woff2)
      format('woff2'),
    url(/__export/1641560918000/system/modules/com.tfsla.sitio.core.sites.farm/site/resources/fonts/acto-700.woff)
      format('woff');
  font-display: swap;
}
* {
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
body {
  margin: 0;
  overflow-x: hidden;
  font: 1rem/1.1 'Acto', sans serif;
  color: rgba(0, 0, 0, 0.9);
  background-color: #f2f2f2;
  padding-top: 104px;
}
a {
  text-decoration: none;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
figure,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
amp-img,
img {
  border: none;
  vertical-align: top;
  text-indent: -9999px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
button {
  outline: 0;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
*:focus {
  outline: none;
  box-shadow: none;
}
amp-web-push-widget.amp-invisible,
.hide {
  display: none;
}
@media (min-width: 768px) {
  body {
    padding-top: 144px;
  }
}
.row {
  padding: 0;
}
.row,
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
body .hide--mobile {
  display: none;
}
@media (min-width: 768px) {
  .row,
  .container {
    padding: 0 10px;
    max-width: 1220px;
  }
  .row .container,
  .container > .row {
    padding: 0;
  }
  .container {
    flex-direction: row;
  }
  .container__row {
    margin: 0 -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .col--main {
    width: 100%;
  }
  .col--aside {
    width: 300px;
    flex: 0 0 300px;
    margin-left: 20px;
  }
  .col {
    padding: 0 10px;
  }
  .col--2 {
    flex-basis: 20%;
    width: 20%;
  }
  .col--3 {
    flex-basis: 25%;
    width: 25%;
  }
  .col--4 {
    flex-basis: 33.3333%;
    width: 33.3333%;
  }
  .col--8 {
    flex-basis: 66.6666%;
    width: 66.6666%;
  }
  .col--12 {
    flex-basis: 100%;
    width: 100%;
  }
  body .hide--desktop {
    display: none;
  }
  body .hide--mobile {
    display: block;
  }
}
@media (min-width: 768px) and /*!FIX*/(max-width:1024px) {
  body .hide--tablet {
    display: none;
  }
}
.alert {
  background-color: #d6030a;
  padding: 10px 20px 13px;
  color: white;
  position: relative;
}
.alert .container {
  flex-direction: column;
}
.alert a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.alert strong {
  font: bold 0.813rem/1rem 'Acto', sans serif;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}
.alert h2 {
  font-size: 0.938rem;
  line-height: 1.2rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .alert h2 {
    font-size: 1.063rem;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 104px;
  background-color: #d6030a;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.preheader .header {
  position: relative;
}
.header__top {
  height: 56px;
  position: relative;
  z-index: 3;
}
.header__top .container {
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}
.header__hole {
  width: 85px;
  height: 40px;
  position: absolute;
  left: 190px;
  top: 8px;
}
.header__logo {
  margin: 8px 0 0 20px;
  width: 160px;
}
.header svg {
  fill: white;
}
.header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav {
  position: relative;
  width: 100%;
  height: 48px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #d6030a;
}
.header__nav .header__nav__scroll {
  white-space: nowrap;
  display: block;
  overflow-x: auto;
  overflow-y: inherit;
}
.header__nav:after,
.header__nav:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 3px;
  width: 15px;
  z-index: 2;
  pointer-events: none;
  background: -moz-linear-gradient(
    left,
    rgba(214, 3, 10, 1) 0,
    rgba(214, 3, 10, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(214, 3, 10, 1) 0,
    rgba(214, 3, 10, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(214, 3, 10, 1) 0,
    rgba(214, 3, 10, 0) 100%
  );
}
.header__nav:after {
  left: auto;
  right: 0;
  background: -moz-linear-gradient(
    left,
    rgba(214, 3, 10, 0) 0,
    rgba(214, 3, 10, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(214, 3, 10, 0) 0,
    rgba(214, 3, 10, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(214, 3, 10, 0) 0,
    rgba(214, 3, 10, 1) 100%
  );
}
.header__nav li {
  display: inline-block;
  vertical-align: top;
}
.header__nav a {
  font: 0.813rem/48px 'Acto', sans serif;
  text-transform: uppercase;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: block;
}
.header__nav a:hover {
  color: white;
}
.header__nav li.active .header__nav__toggle,
.header__nav .active > a {
  font-weight: bold;
  color: white;
}
.header__nav li.active .header__nav__toggle:after,
.header__nav .active > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}
.header__webpush-circle {
  background-color: white;
  width: 12px;
  height: 12px;
  border: 2px solid #d6030a;
  position: absolute;
  top: 13px;
  left: 25px;
  z-index: 2;
  border-radius: 100%;
  animation: heartbeat 2s infinite;
}
.header__submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.header__nav__toggle {
  font: 0.813rem/48px 'Acto', sans serif;
  text-transform: uppercase;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  display: block;
}
@keyframes heartbeat {
  0%,
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.25);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 769px) {
  .header {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .header__top {
    height: 84px;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .header__top .container {
    flex-direction: row;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -125px;
    width: 250px;
  }
  .header__menu svg,
  .header__menu span {
    display: inline-block;
    vertical-align: middle;
    font: 0.875rem/1 'Acto', sans serif;
    color: white;
    text-transform: uppercase;
  }
  .header__nav {
    height: 60px;
    text-align: center;
  }
  .header__nav a {
    line-height: 60px;
    font-size: 0.875rem;
  }
  .header__nav .hide--desktop {
    display: none;
  }
  .header__follow a:hover svg {
    fill: rgba(255, 255, 255, 0.7);
  }
  .header__webpush {
    position: relative;
    margin-left: 16px;
    padding-left: 6px;
  }
  .header__webpush:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: -17px;
  }
  .header__hole {
    width: 135px;
    height: 64px;
    position: relative;
    left: -25%;
    top: 10px;
  }
  .header__subnav:hover .header__submenu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  .header__nav__toggle {
    line-height: 60px;
    font-size: 0.875rem;
  }
  .header__nav__arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
  }
  .header__nav__arrow:after,
  .header__nav__arrow:before {
    content: '';
    background: rgba(255, 255, 255, 0.7);
    height: 1px;
    width: 8px;
    position: absolute;
    top: 9px;
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .header__nav__arrow:before {
    right: 0;
    border-radius: 0 125px 125px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .header__nav__arrow:after {
    border-radius: 125px 0 0 125px;
    right: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .header__subnav .header__submenu {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 15px 0 20px;
    width: 160px;
    background-color: black;
    text-align: left;
    white-space: inherit;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  .header__subnav .header__submenu__a {
    color: white;
    display: block;
    line-height: 1;
    padding: 18px 10px;
  }
  .header__subnav .header__submenu__li {
    display: block;
    white-space: initial;
  }
}
@media (min-width: 769px) and /*!FIX*/(max-width:1023px) {
  .header__logo {
    margin-left: 0;
    left: 70px;
  }
  .header__menu span {
    display: none;
  }
}
.floatingbutton {
  position: fixed;
  bottom: 135px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 100;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #d6030a;
}
.floatingbutton svg {
  width: 40px;
  height: 40px;
  fill: white;
}
.footer {
  background-color: #d6030a;
  color: white;
}
.footer__logo {
  width: 127px;
  display: block;
}
.footer__top {
  padding: 25px 20px 20px;
  flex-direction: row;
  position: relative;
}
.footer__up {
  position: absolute;
  right: 0;
  top: 14px;
  color: white;
  font: 0.875rem/45px 'Acto', sans serif;
  vertical-align: top;
}
.footer__up .icono {
  vertical-align: top;
  fill: white;
}
.footer__follow {
  text-align: center;
  display: block;
  padding: 27px 0 17px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__follow svg {
  fill: white;
}
.footer__follow a:hover {
  opacity: 0.7;
}
.footer__follow p {
  font: 0.875rem/1 'Acto', sans serif;
  margin-bottom: 14px;
}
.footer__follow a {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}
.footer__dataprotection {
  text-align: left;
  display: block;
  padding: 27px 20px 17px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__dataprotection p {
  font: 0.875rem/1.4 'Acto', sans serif;
  margin-bottom: 14px;
}
.footer__dataprotection a {
  color: white;
  text-decoration: underline;
}
.footer__sites,
.footer__navigator {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__navigator,
.footer__sites {
  padding: 20px 20px;
}
.footer__navigator .menu__links--footer,
.footer__sites .menu__links--footer {
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
.footer__navigator li,
.footer__sites li {
  display: inline-block;
  padding: 5px 0;
}
.footer__navigator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__navigator li {
  width: 50%;
}
.footer__navigator li:nth-child(even) {
  padding-left: 18px;
}
.footer__logo--media {
  margin-bottom: 24px;
}
.footer__sites li {
  width: 33.3%;
  padding-left: 18px;
}
.footer__sites li:first-child,
.footer__sites li:nth-child(3n + 1) {
  padding-left: 0;
}
.footer__navigator a,
.footer__sites a {
  color: white;
  font: 0.75rem/1 'Acto', sans serif;
}
.footer__navigator a:hover,
.footer__sites a:hover {
  text-decoration: underline;
}
.footer__site {
  padding: 24px 20px 0;
}
.footer__site p {
  font: 0.75rem/1.4 'Acto', sans serif;
}
.footer__site a {
  color: inherit;
  text-decoration: underline;
  clear: both;
  display: inline-block;
}
.footer__copy {
  display: flex;
  padding: 19px 0 16px;
}
.footer__copy > a {
  white-space: nowrap;
  font: 0.875rem/45px 'Acto', sans serif;
  color: white;
  text-decoration: none;
}
.footer__copy svg {
  display: inline-block;
  vertical-align: middle;
  fill: white;
}
.footer__copy .creators {
  width: 100%;
  display: flex;
  align-items: center;
}
.footer__copy .creators a {
  width: 65px;
  opacity: 0.6;
}
.footer__copy .creators a + a {
  margin-left: 5px;
}
.footer__copy .creators a:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  .footer {
    position: relative;
  }
  .footer__top {
    padding: 30px 0 34px;
  }
  .footer__logo {
    width: 167px;
  }
  .footer__sites .menu__links--footer {
    line-height: 20px;
  }
  .footer__follow {
    border: none;
    padding: 0;
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .footer__dataprotection {
    text-align: center;
    display: block;
    border: none;
    padding: 0 0 20px;
  }
  .footer__follow p,
  .footer__dataprotection p {
    display: inline-block;
    margin: 16px 10px 0 0;
  }
  .footer__up {
    top: 25px;
  }
  .footer__navigator {
    padding: 20px 0;
    text-align: center;
  }
  .footer__sites {
    padding: 27px 0 40px;
    text-align: center;
    flex-direction: column;
  }
  .footer__navigator li:nth-child(even),
  .footer__sites li:nth-child(3n + 1),
  .footer__sites li,
  .footer__navigator li {
    width: auto;
    padding: 0 9px;
    position: relative;
  }
  .footer__sites li + li:before,
  .footer__navigator li + li:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 6px;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
  }
  .footer__site .container {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 24px;
  }
  .footer__site a {
    display: inline;
    clear: none;
  }
  .footer__copy {
    padding: 0;
    margin: 0;
    border: none;
    flex-direction: column;
  }
  .footer__copy .creators a {
    width: 88px;
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  overflow: auto;
  will-change: transform;
  transition: transform 0.3s ease;
  background-color: #d6030a;
  z-index: 100;
}
.menu--active {
  transform: translate(-100%, 0);
}
.menu__header {
  display: flex;
  padding: 3px 0 0 20px;
  align-items: center;
  margin-bottom: 10px;
}
.menu__header-actions {
  width: 100%;
  text-align: right;
}
.menu__header svg {
  fill: white;
}
.menu__content a {
  font: 0.938rem/1 'Acto', sans serif;
  padding: 13px 17px;
  color: white;
  display: block;
}
.menu__general {
  padding: 0 0 17px;
}
.menu__general li {
  border-left: 3px solid transparent;
}
.menu__general li.active {
  border-color: white;
}
.menu__general li + li {
  margin-top: 11px;
}
.menu__general a {
  text-transform: uppercase;
  font-weight: bold;
}
.menu__links {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 0 30px;
}
.menu__links li + li {
  margin-top: 5px;
}
.menu__footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 29px 20px 30px;
}
.menu__footer p {
  font: 0.75rem/1.3 'Acto', sans serif;
  color: white;
  margin-bottom: 19px;
}
.menu__footer a {
  color: white;
}
.menu__general__toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding-right: 60px;
}
.menu__general__arrow {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0;
  vertical-align: top;
  position: relative;
}
.menu__general__toggle a {
  display: inline-block;
  padding-right: 0;
}
.menu__general__text {
  font: 0.938rem/1 'Acto', sans serif;
  padding: 13px 17px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding-right: 0;
}
.menu__general .menu__general__more {
  padding: 16px 17px 5px;
  font: 400 0.813rem/1 'Acto', sans serif;
}
.menu__general__arrow:after,
.menu__general__arrow:before {
  content: '';
  background: white;
  height: 1px;
  width: 8px;
  position: absolute;
  top: 16px;
  border-radius: 125px 0 0 125px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.menu__general__arrow:before {
  left: 0;
  border-radius: 125px 0 0 125px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 21px;
}
.active .menu__general__arrow:before {
  left: 5px;
  border-radius: 0 125px 125px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 19px;
}
.active .menu__general__arrow:after {
  top: 19px;
  border-radius: 125px 0 0 125px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.menu__general__child {
  display: none;
}
.menu__general__submenu.active .menu__general__child {
  display: block;
}
.menu__general__submenu .menu__general {
  padding-bottom: 0;
}
.menu__general__submenu .menu__general li {
  border: 0;
}
.menu__general__submenu .menu__general {
  margin-top: 11px;
}
.menu__general__submenu .menu__general a {
  font-weight: 400;
}
@media (min-width: 768px) {
  .menu {
    left: -370px;
    width: 360px;
    bottom: 0;
    box-shdow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .menu--active {
    transform: translate(100%, 0);
  }
}
.button {
  background-color: #d6030a;
  width: 100%;
  display: block;
  height: 48px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font: bold 0.875rem/1 'Acto', sans serif;
}
.button--invert {
  background-color: white;
  color: #d6030a;
}
.button:hover {
  background-color: #ef1c23;
}
a.button:active,
button.button:focus {
  background-color: #af0000;
}
a.button--invert:active,
button.button--invert:focus {
  background-color: #e5e5e5;
}
.button--invert:hover {
  text-decoration: underline;
  background-color: white;
}
.viewmore {
  padding: 0 20px 20px;
}
@media (min-width: 768px) {
  .viewmore .button {
    max-width: 300px;
    margin: 0 auto;
  }
  .viewmore {
    padding: 30px 20px 20px;
  }
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}
.banner--nospace {
  margin-bottom: 0;
}
.banner--margin-top {
  margin-top: 20px;
}
.banner--relatedexternal.hide--desktop {
  padding: 0 20px;
  margin-bottom: 20px;
  display: inline;
  background-color: #f4f4f4;
}
@media (min-width: 768px) {
  .banner {
    margin-bottom: 20px;
  }
  .banner--relatedexternal.hide--desktop {
    display: none;
  }
}
.coversite {
  width: 100%;
  height: 0;
  position: relative;
  z-index: -1;
  pointer-events: none;
  background: transparent;
  padding-top: 75%;
  margin-bottom: -75%;
}
.pagebuilder {
  margin-top: 0;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 20px;
  user-select: none;
}
.pagebuilder .news--box .news__title,
.pagebuilder .news--innerbox .news__title {
  font-size: 1.5rem;
}
.pagebuilder .news--summary {
  border-top: 1px solid #d9d9d9;
}
.pagebuilder .news--summary .news__line {
  display: none;
}
.pagebuilder .news--innerbox + .news--summary {
  border: none;
}
.pagebuilder .banner {
  margin-bottom: 0;
  padding: 20px 0;
  background-color: white;
}
@media (min-width: 768px) {
  .coversite {
    padding-top: 300px;
    margin-bottom: -300px;
  }
  .pagebuilder {
    margin-top: 30px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    overflow: initial;
  }
  .pagebuilder .banner {
    padding: 0;
  }
  .pagebuilder + .pagebuilder {
    padding-top: 0;
  }
  .pagebuilder .col,
  .pagebuilder .banner {
    margin-bottom: 20px;
  }
  .pagebuilder .news {
    border: none;
    height: 100%;
    border-radius: 0;
    overflow: hidden;
  }
  .pagebuilder .news--box {
    display: flex;
    flex-direction: row-reverse;
    min-height: 320px;
  }
  .pagebuilder .news--box .news__media {
    width: 100%;
  }
  .pagebuilder .news--box img {
    object-fit: cover;
  }
  .pagebuilder .news--box.news--nophoto .news__media {
    padding: 0;
    height: 100%;
  }
  .pagebuilder .news--box .news__data {
    width: 300px;
    min-width: 300px;
  }
  .pagebuilder .news--summary {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .pagebuilder .news--summary .news__media {
    margin: 0;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 0;
  }
  .pagebuilder .news--summary .news__data {
    padding: 15px 35px 20px 20px;
  }
  .pagebuilder .news--summary .news__title {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    max-height: 60px;
  }
  .pagebuilder .news--summary .news__line {
    display: block;
  }
  .pagebuilder .news--summary .news__share {
    top: 0;
  }
  .pagebuilder .news--innerbox .news__data {
    padding: 145px 50px 50px;
  }
  .pagebuilder .news--innerbox .news__title {
    font-size: 42px;
    line-height: 1.11;
    max-width: 890px;
    margin-bottom: 20px;
  }
  .pagebuilder .news--innerbox.news--nophoto .news__media,
  .pagebuilder .news--summary.news--nophoto .news__media {
    min-height: auto;
    height: 0;
    padding-top: 56.25%;
    width: 100%;
  }
}
@media (min-width: 768px) and /*!FIX*/(max-width:1024px) {
  .pagebuilder .news--box .news__data {
    width: 33.33%;
    min-width: 33.33%;
    width: calc(33%+10px);
    min-width: calc(33%+10px);
  }
}
@media (min-width: 1920px) {
  .pagebuilder .news--summary .news__title {
    max-height: 80px;
  }
}
.news {
  position: relative;
  overflow: hidden;
  background-color: white;
  user-select: none;
}
.news__offline {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
  background-color: #ccc;
}
.news__offline:hover ~ *:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d6030a;
  opacity: 0.2;
  z-index: 9;
}
.news__media {
  position: relative;
}
.news--nophoto .news__media {
  background-color: #e6e6e6;
  position: relative;
  height: 100%;
}
.news__media-video {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  background-color: #d6030a;
  display: flex;
  align-items: center;
  font: 0.813rem/1 'Acto', sans serif;
  color: white;
  padding-right: 10px;
  border-radius: 3px;
}
.news__media-video svg {
  fill: white;
}
.news__nophoto {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 320px;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}
.news__data {
  position: relative;
  width: 100%;
}
.news__share {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: none;
}
.news__section {
  text-transform: uppercase;
  font: bold 0.813rem/1 'Acto', sans serif;
  color: #d6030a;
  display: inline-block;
  padding-top: 17px;
  margin-top: -17px;
  padding-bottom: 15px;
}
a.news__section:hover {
  color: #ef1c23;
}
.news__section:empty {
  display: none;
}
.news__title {
  font: bold 1.375rem/1.22 'Acto', sans serif;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}
.news__title a {
  color: inherit;
  font: inherit;
}
.news__title a:hover {
  color: #d6030a;
}
.news__excerpt p {
  font: 1rem/1.43 'Acto', sans serif;
  color: rgba(0, 0, 0, 0.7);
}
.news__excerpt a {
  font: inherit;
  color: inherit;
  text-decoration: underline;
}
.news__related li {
  position: relative;
  padding-left: 15px;
}
.news__related li + li {
  margin-top: 17px;
}
.news__related li:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #d6030a;
}
.news__related a {
  font-size: 0.938rem;
  line-height: 1.26;
  color: rgba(0, 0, 0, 0.9);
}
.news__line {
  color: rgba(0, 0, 0, 0.6);
  font: 0.75rem/1.1 'Acto', sans serif;
}
.news__author {
  display: inline-block;
}
.news__author a {
  font: inherit;
  color: inherit;
}
.news__time {
  display: inline;
}
amp-timeago {
  display: inline;
}
.news--box .news__data {
  padding: 15px 20px 20px;
}
.news--box .news__related,
.news--box .news__title {
  margin-bottom: 15px;
}
.news--box .news__excerpt {
  margin: -8px 0 15px;
}
.news--box .news__media-video {
  bottom: 15px;
  left: 15px;
}
.news--box.news--nophoto .news__media {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.module__scroll .news--box {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0;
  overflow: hidden;
}
.module__scroll .news--box .news__data {
  padding: 20px;
}
.module__scroll .news--box .news__title {
  font-size: 0.938rem;
  line-height: 1.26;
  font-weight: normal;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .module__scroll .news--box {
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    border: none;
  }
  .module__scroll .news--box .news__data {
    padding: 20px 30px 0 0;
  }
}
.news--summary {
  display: flex;
  align-items: flex-start;
  padding: 15px 0 15px 20px;
}
.news--summary .news__media {
  margin-right: 15px;
  border-radius: 0;
  overflow: hidden;
  width: 100px;
  flex: 0 0 100px;
}
.news--summary.news--nophoto .news__media {
  width: 100px;
  height: 100px;
}
.news--summary .news__media-video {
  bottom: 5px;
  left: 5px;
  padding: 7px 10px 8px;
}
.news--summary .news__media-video svg {
  display: none;
}
.news--summary .news__share {
  top: -12px;
}
.news--summary .news__data {
  padding-right: 35px;
}
.news--summary .news__title {
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 1.26;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (min-width: 768px) {
  .news--summary {
    align-items: initial;
  }
  .module--relatednews .news--summary .news__media {
    margin: 0;
    width: 100%;
    height: auto;
    flex: initial;
    border-radius: 0;
  }
}
.news--innerbox.news--nophoto .news__media {
  width: 100%;
  padding-top: 100%;
  height: 0;
}
.news--innerbox .news__media a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 52%,
    rgba(0, 0, 0, 1) 100%
  );
}
.news--innerbox .news__share svg {
  fill: white;
}
.news--innerbox .news__data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 20px;
  pointer-events: none;
}
.news--innerbox .news__title,
.news--innerbox .news__section {
  color: white;
}
.news--innerbox .news__title,
.news--innerbox .news__section,
.news--innerbox .news__line {
  pointer-events: initial;
}
.news--innerbox .news__title {
  margin-bottom: 15px;
}
.news--innerbox .news__title a:hover {
  color: white;
  text-decoration: underline;
}
.news--innerbox .news__line {
  color: rgba(255, 255, 255, 0.7);
}
.news--innerbox a.news__section:hover {
  color: white;
  text-decoration: underline;
}
.news--type-author.news--nophoto .news__media {
  height: 0;
  padding-top: 56.25%;
  background: #e6e6e6;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}
.news--type-author amp-img {
  overflow: hidden;
  border-radius: 100%;
}
.news--type-author .news__data {
  padding: 13px 40px 0 0;
}
.news--type-author .news__title {
  font-weight: normal;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .news--type-author {
    padding: 13px 30px 18px;
    position: relative;
    border-right: 1px solid #d9d9d9;
    flex-direction: column;
    text-align: center;
  }
  .news--type-author:last-child {
    border: none;
  }
  .news--type-author .news__media {
    margin: 0 auto 16px;
  }
  .news--type-author .news__data {
    padding: 0;
  }
  .news--type-author .news__title {
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 11px;
    position: relative;
  }
  .news--type-author .news__separator {
    margin: 0 auto 21px;
    border-radius: 0;
  }
  .news--type-author .news__title:before {
    bottom: 4px;
    opacity: 1;
  }
}
.newscontainer .news--box {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .newscontainer {
    margin-bottom: 20px;
  }
  .newscontainer .news--box {
    box-shadow: none;
    flex-direction: row;
    display: flex;
    min-height: 180px;
  }
  .newscontainer .news--box .news__media {
    width: 320px;
    flex: 0 0 320px;
    height: 180px;
    padding: 0;
  }
  .newscontainer .news--box .news__media img {
    object-fit: cover;
    border-radius: 0;
  }
  .newscontainer .news--box.news--nophoto .news__media img {
    object-fit: initial;
  }
  .newscontainer .news--box .news__data {
    padding: 20px;
  }
  .newscontainer .news--box .news__title {
    margin-bottom: 25px;
    font-size: 1.125rem;
    line-height: 1.27;
  }
}
@media (min-width: 768px) and /*!FIX*/(max-width:1024px) {
  .newscontainer .news--box .news__media {
    width: 180px;
    flex: 0 0 180px;
  }
  .newscontainer .news--box .news__media amp-img {
    border-radius: 10px;
  }
}
.module {
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 20px;
  user-select: none;
}
.module__header {
  position: relative;
  padding: 16px 20px 16px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;
}
.module__misc {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
}
.module__bkg {
  position: absolute;
  top: 0;
  right: 0;
}
.module__share {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 2;
  background: none;
  background-image: none;
}
.homeiframe.homeiframe--iframe {
  margin-bottom: 40px;
}
.momios {
  overflow: hidden;
}
.module__title {
  font: bold 1.063rem/1 'Acto', sans serif;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}
.module__title a {
  font: inherit;
  color: inherit;
}
.module__footer {
  border-top: 1px solid #d9d9d9;
  padding: 1px 20px;
}
.module__viewmore {
  color: rgba(0, 0, 0, 0.9);
  font: 0.938rem/1 'Acto', sans serif;
}
.module__viewmore .icono {
  display: inline-block;
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0.9);
  margin-left: -10px;
}
.module__viewmore:hover {
  color: #d6030a;
}
.module__viewmore:hover svg {
  fill: #d6030a;
}
.module--list .news + .news,
.module--list .col + .col {
  border-top: 1px solid #d9d9d9;
}
.module--scroll .module__content {
  padding: 20px 0;
  overflow: auto;
  font-size: 0;
}
.module__scroll {
  display: flex;
  padding: 0 20px;
}
.module__scroll li {
  width: 200px;
  flex: 0 0 200px;
  display: flex;
  margin-right: 14px;
}
.module__scroll .news--box {
  width: 100%;
}
.module__scroll li:last-child {
  flex: 0 0 220px;
  padding-right: 20px;
}
.module--comments {
  background-color: white;
}
.module--comments .module__title {
  color: rgba(0, 0, 0, 0.9);
}
.module--taboola {
  margin: 20px 0;
  padding: 0 20px;
}
.module--ranking {
  list-style-type: none;
  counter-reset: counter 0;
}
.module--ranking .news__section {
  margin-top: -12px;
  padding-bottom: 8px;
}
.module--ranking .news__media {
  counter-increment: counter 1;
}
.module--ranking .news__media:before {
  content: counter(counter) ' ';
  font: bold 0.938rem/27px 'Acto', sans serif;
  color: #d6030a;
  background: white;
  position: absolute;
  text-align: center;
  width: 24px;
  height: 24px;
  z-index: 2;
}
.module.module--revista {
  box-shadow: none;
}
@media (min-width: 768px) {
  .module {
    box-shadow: none;
    margin-bottom: 40px;
  }
  .module__header {
    box-shadow: none;
    border-bottom: 1px solid #d9d9d9;
  }
  .module__scroll {
    padding: 0 10px;
  }
  .module__scroll li {
    width: 20%;
    flex: 0 0 20%;
    padding: 0 10px;
    margin: 0;
  }
  .module__scroll li:last-child {
    flex: 0 0 20%;
    padding: 0 10px;
  }
  .module--ranking .news__section {
    font-size: 0.813rem;
  }
  .module--ranking .news__title {
    font-size: 0.938rem;
    line-height: 1.3;
  }
  .module--scroll .module__content {
    overflow: hidden;
  }
  .module--taboola {
    margin: 40px 0 20px;
    padding: 0;
  }
  .module.module--revista {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and /*!FIX*/(max-width:1024px) {
  .module__scroll .news--box .news__data {
    padding: 15px 0;
  }
}
.suscribe {
  padding: 17px 20px 0;
}
.suscribe__logo {
  margin-bottom: 14px;
  display: inline-block;
}
.suscribe__title {
  font-weight: bold;
  font-size: 1.563rem;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 11px;
  text-transform: uppercase;
}
.suscribe__subtitle {
  font: 1.125rem/1.2 'Acto', sans serif;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 18px;
}
.suscribe__field {
  position: relative;
  margin-bottom: 15px;
}
.suscribe__field label {
  position: relative;
  width: 100%;
  display: block;
  max-width: 400px;
}
.suscribe__field input.user-invalid {
  border-bottom: 2px solid #c70101;
}
.suscribe__field input {
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0 15px 0 45px;
  border-radius: 0;
  font: 1rem/1 'Acto', sans serif;
  color: black;
}
.suscribe__field input::-webkit-input-placeholder {
  color: black;
}
.suscribe__hint {
  font: 0.75rem/2 'Acto', sans serif;
  display: block;
}
.suscribe__hint--error {
  color: #c70101;
}
form.amp-form-submit-success .suscribe__success {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.07);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font: 0.875rem/1.4 'Acto', sans serif;
  color: black;
}
.amp-form-submit-success .button,
.amp-form-submit-success label {
  opacity: 0;
}
.suscribe__field svg {
  fill: rgba(0, 0, 0, 0.3);
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.suscribe__content .button {
  margin: 15px 0 0;
}
.suscribe__content p {
  font: 0.75rem/1.5 'Acto', sans serif;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 18px;
}
.suscribe__content p a {
  color: inherit;
  text-decoration: underline;
}
.suscribe__image {
  margin: 0 -20px;
}
.suscribe_checkbox.user-invalid + label {
  color: #c70101;
}
.suscribe__field .suscribe_checkbox {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: absolute;
  margin: 3px 0 0;
}
.suscribe__field .suscribe__label {
  cursor: pointer;
  font: 0.75rem/1.5 'Acto', sans serif;
  color: rgba(0, 0, 0, 0.7);
  max-width: initial;
  display: block;
  padding: 1px 0 0 21px;
}
.suscribe__field a {
  color: inherit;
  text-decoration: underline;
}
.suscribe__field a:hover {
  text-decoration: none;
}
.amp-form-submit-success .suscribe_checkbox {
  opacity: 0;
}
.suscribe__hint--pattern {
  display: none;
  color: #c70101;
  font: 0.75rem/2 'Acto', sans serif;
}
.patternMismatch + .suscribe__hint--pattern {
  display: block;
}
.patternMismatch ~ .suscribe__hint--error {
  display: none;
}
@media (min-width: 768px) {
  .suscribe {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    height: 490px;
    justify-content: flex-end;
    padding: 0;
  }
  .suscribe__image {
    margin: 140px 0 0 -100px;
    width: 600px;
    flex: 0 0 600px;
  }
  .suscribe__data {
    width: 100%;
    max-width: 725px;
    padding: 15px 20px 0 15px;
  }
  .suscribe__title {
    font-size: 2.188rem;
    line-height: 1;
    margin-bottom: 7px;
  }
  .suscribe__subtitle {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 26px;
  }
  .suscribe__field label {
    display: inline-block;
  }
  .suscribe__content .button {
    max-width: 250px;
    display: inline-block;
    height: 56px;
    vertical-align: top;
    margin: 0;
  }
}
@media (min-width: 768px) and /*!FIX*/(max-width:1023px) {
  .suscribe__image {
    margin: 0 0 0 -250px;
  }
  .suscribe__title {
    font-size: 1.5rem;
  }
  .suscribe__subtitle {
    font-size: 1rem;
    line-height: 1;
  }
}
.module--historias .news {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 0;
  overflow: hidden;
  user-select: none;
}
.module--historias .news__data {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  z-index: 2;
}
.module--historias .news__section {
  color: white;
  font-weight: normal;
  font-size: 11px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.module--historias .news:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 52%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.module--historias .news__section:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  height: 1px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.6);
}
.module--historias .news__title {
  color: white;
  font-size: 1.313rem;
  line-height: 1.09;
  letter-spacing: -0.22px;
}
.module--historias .news__title a:hover {
  color: white;
  text-decoration: underline;
}
.module--historias .news__share {
  display: none;
}
@media (min-width: 768px) and /*!FIX*/(max-width:1024px) {
  .module--historias .news__title {
    font-size: 1rem;
    line-height: 1.12;
  }
}
.module--opinion {
  user-select: none;
}
@media (min-width: 769px) {
  .module--opinion .module__content {
    padding: 33px 20px;
    display: flex;
  }
  .module--opinion .news--type-author {
    width: 20%;
    flex: 0 0 20%;
  }
  .module--opinion .news--type-author .news__share {
    display: none;
  }
  .module--opinion.module--list .news + .news {
    border-top: none;
  }
}
@media (min-width: 769px) and /*!FIX*/(max-width:1024px) {
  .module--opinion .news--type-author {
    padding: 13px 10px 18px;
  }
}
.module--videos {
  user-select: none;
}
.module--videos .news--summary .news__line,
.module--videos .news--box .news__excerpt {
  display: none;
}
@media (min-width: 769px) {
  .module--videos .module__content {
    padding: 20px 20px 0;
  }
  .module--videos .col + .col {
    border-top: none;
  }
  .module--videos .news--box {
    display: flex;
    flex-direction: row-reverse;
    min-height: 400px;
    margin-bottom: 20px;
  }
  .module--videos .news--box .news__media {
    width: 59%;
    flex: 0 0 59%;
    border-radius: 0;
    overflow: hidden;
  }
  .module--videos .news--box .news__media img {
    object-fit: cover;
  }
  .module--videos .news--box .news__title {
    font-size: 1.625rem;
    line-height: 1.15;
    margin-bottom: 19px;
  }
  .module--videos .news--box .news__excerpt {
    display: block;
  }
  .module--videos .news--summary {
    flex-direction: column;
    padding: 0;
  }
  .module--videos .news--summary .news__media {
    margin: 0;
    width: 100%;
    flex: initial;
  }
  .module--videos .news--summary.news--nophoto .news__media {
    padding-top: 56.25%;
    height: 0;
    min-height: initial;
  }
  .module--videos .news--summary .news__data {
    padding: 17px 0 35px;
  }
  .module--videos .news--summary .news__share {
    top: 0;
  }
  .module--videos .news--summary .news__title {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 18px;
  }
  .module--videos .news--summary .news__line {
    display: block;
  }
}
.informeespecial {
  background-color: #d6030a;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 0 20px 30px;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 0;
  user-select: none;
}
.informeespecial .news {
  margin: 0 -20px;
  background-color: transparent;
}
.informeespecial .news .news__section,
.informeespecial .news .news__title {
  color: white;
}
.informeespecial .news a.news__section:hover,
.informeespecial .news .news__title a:hover {
  color: white;
  text-decoration: underline;
}
.informeespecial .news .news__excerpt {
  display: none;
}
@media (min-width: 768px) {
  .informeespecial {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: none;
  }
  .informeespecial .news--box {
    display: flex;
    flex-direction: row-reverse;
    min-height: 350px;
    margin: 0;
  }
  .informeespecial .news__media {
    width: 50%;
    flex: 0 0 50%;
  }
  .informeespecial .news__media img {
    object-fit: cover;
  }
  .informeespecial .news__data {
    padding: 30px 20px 110px 40px;
  }
  .informeespecial .news .news__title {
    font-size: 1.75rem;
    line-height: 1.21;
    margin-bottom: 20px;
  }
  .informeespecial .news .news__excerpt {
    display: block;
  }
  .informeespecial .news .news__excerpt p {
    font: 0.938rem/1.33 'Acto', sans serif;
    color: rgba(255, 255, 255, 0.9);
  }
  .informeespecial .button {
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 2;
    width: 220px;
  }
}
.module--gallery {
  position: relative;
  background-color: #999;
  user-select: none;
}
.module--gallery .module__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border: none;
  box-shadow: none;
}
.module--gallery .module__share svg {
  fill: white;
}
.module--gallery amp-social-share:focus {
  outline: none;
}
.module--gallery .module__title {
  color: white;
}
.module--gallery .news__data {
  padding-bottom: 40px;
}
.module--gallery .news__share {
  display: none;
}
.gallery {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.gallery .amp-carousel-button {
  width: 45px;
  height: 45px;
  background-color: black;
  filter: invert(100);
  border-radius: 1px;
  margin: 0;
}
.gallery .amp-carousel-button-prev {
  left: 0;
}
.gallery .amp-carousel-button-next {
  right: 0;
}
.gallery__slide-media a:after,
.gallery .news__media a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-event: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0,
    rgba(0, 0, 0, 0) 22%,
    rgba(0, 0, 0, 0.27) 55%,
    rgba(0, 0, 0, 0.52) 63%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.gallery__slide-data {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.gallery__slide-data p {
  padding: 16px 20px 38px;
  color: white;
  font: 0.813rem/1.3 'Acto', sans serif;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.gallery__slide--final .gallery__slide-media a:after {
  background: rgba(0, 0, 0, 0.8);
}
.gallery__slide--final .gallery__slide-data {
  pointer-events: initial;
  padding: 0 20px 50px;
  text-align: center;
}
.gallery__slide--final .button {
  width: auto;
  display: inline-block;
  padding: 18px 30px 15px;
  margin-bottom: 38px;
}
.gallery__share-title {
  display: block;
  color: white;
  margin-bottom: 19px;
  font: 0.875rem/1.14 'Acto', sans serif;
}
.gallery__share-button {
  background-image: none;
  border-radius: 3px;
}
.gallery__share-button:hover {
  opacity: 0.7;
}
.gallery__share-button svg {
  fill: white;
}
.gallery__share-button[type='email'] {
  background: #7e7e7e;
}
.gallery__share-button[type='system'] {
  background: #c3c3c3;
}
.gallery__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 15px 15px 20px;
  pointer-events: none;
}
.gallery__pagination button {
  height: 3px;
  border-radius: 6px;
  background: white;
  opacity: 0.36;
  width: 100%;
  margin: 0 5px;
}
.gallery__pagination button.active {
  opacity: 1;
}
.module--gallery .gallery__slide--cover .news__title {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .module--gallery .module__header {
    box-shadow: none;
    border: none;
  }
  .module--gallery .news__data {
    padding-bottom: 60px;
  }
  .module--gallery .news__media {
    width: 100%;
    height: 600px;
  }
  .gallery__slide-media img,
  .module--gallery .news__media img {
    object-fit: cover;
  }
  .module--gallery .gallery__slide--cover .news__data {
    text-align: center;
    max-width: 852px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .module--gallery .gallery__slide--cover .news__title {
    font-size: 2.25rem;
    line-height: 1.11;
    margin-bottom: 30px;
  }
  .gallery {
    padding-top: 600px;
  }
  .gallery .amp-carousel-button {
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .gallery__pagination {
    max-width: 460px;
    left: 50%;
    margin-left: -230px;
    padding-bottom: 29px;
  }
  .gallery__slide--final .gallery__slide-data {
    padding: 0;
    top: 50%;
    transform: translate(0, -50%);
    bottom: auto;
  }
}
.poll {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  overflow: hidden;
  border-radius: 0;
}
.poll__header {
  padding: 15px 20px;
}
.poll__title {
  font: bold 1.125rem/1.27 'Acto', sans serif;
  text-transform: uppercase;
}
.poll__content {
  background-color: #f2f2f2;
  padding: 35px 20px;
}
.poll__option {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #d6030a;
  height: 59px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s;
}
.poll__option + .poll__option {
  margin-top: 10px;
}
.poll__option-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}
.poll__option-text {
  position: absolute;
  top: 50%;
  transform: translate(20px, -50%);
  left: 0;
  max-width: 90%;
  padding-right: 20px;
  font: 0.938rem/1.27 'Acto', sans serif;
  color: rgba(255, 255, 255, 0.9);
  max-height: 38px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: transform 0.3s, color 0.2s, margin 0.3s;
}
.poll__option-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #d9d9d9;
  opacity: 0;
  transition: opacity 0.2s;
  overflow: hidden;
}
.poll__option-barcover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #d9d9d9;
  transition: transform 0.5s 0.5s;
  z-index: 2;
}
.poll__option-barline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 100%;
}
.poll__option-barline span {
  width: 100%;
}
.poll__option-barline .active {
  background-color: #d6030a;
}
.poll__percent {
  position: absolute;
  bottom: 20px;
  right: 0;
  font: bold 0.875rem/1.42 'Acto', sans serif;
  color: black;
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 0.3s 0.5s;
}
.poll__footer {
  padding: 18px 20px 16px;
}
.poll__footer p {
  color: rgba(0, 0, 0, 0.6);
  font: 0.75rem/1.16 'Acto', sans serif;
}
.poll--results .poll__option {
  background-color: transparent;
  cursor: default;
}
.poll--results .poll__option-label {
  display: none;
  cursor: default;
}
.poll--results .poll__option-text {
  color: rgba(0, 0, 0, 0.9);
  transform: translate(0, -50%);
  margin-top: -10px;
}
.poll--results .poll__option-bar {
  opacity: 1;
}
.poll--results .poll__percent {
  opacity: 1;
  transform: translate(0, 0);
}
.poll--results .poll__option-barcover {
  transform: translate(100%, 0);
}
@media (min-width: 768px) {
  .poll {
    margin-bottom: 40px;
    box-shadow: none;
  }
  .poll__option-text {
    font-size: 1rem;
    line-height: 1.25;
  }
  .poll__percent {
    font-size: 1.375rem;
    line-height: 1;
    bottom: 26px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  left: 100%;
  transition: left 0s 0.3s, visibility 0s 0.3s;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.2s;
}
.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -20%);
  width: 320px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
}
.modal--active {
  visibility: visible;
  pointer-events: initial;
  left: 0;
  transition: left 0s 0s, visibility 0s 0s;
}
.modal--active .modal__overlay {
  opacity: 1;
}
.modal--active .modal__body {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.modal__content {
  padding: 34px 20px 20px;
}
.modal__content .icono {
  width: 71px;
  height: 71px;
  border-radius: 100%;
  background-color: #d6030a;
  fill: white;
  margin-bottom: 16px;
}
.modal__content h4 {
  font: bold 1.375rem/1.36 'Acto', sans serif;
  margin-bottom: 4px;
}
.modal__content p {
  font: 0.938rem/1.2 'Acto', sans serif;
}
.modal__actions {
  margin-top: 27px;
}
.modal__actions button + button {
  margin-top: 5px;
}
.coverless {
  display: none;
  z-index: 999999;
  position: relative;
  background: #d6030a;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 30px 0 50px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .preheader--mobile .coverless {
    display: block;
  }
}
@media (min-width: 768px) {
  .preheader--desktop .coverless {
    display: block;
  }
}
.coverless svg {
  position: relative;
  top: 1px;
  left: 10px;
}
.coverless button {
  margin: 0 auto 30px;
  display: block;
  border: none;
  background: #d6030a;
  padding: 5px 39px 1px 28px;
  border-radius: 0;
  font: 1rem/48px 'Acto', sans serif;
  color: white;
  text-transform: uppercase;
  transition: background 0.2s;
}
.coverless button:hover {
  background: #d6030a;
}
.coverless__cover {
  position: relative;
}
.coverless__cover span {
  position: relative;
  font: 0.813rem/48px 'Acto', sans serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  max-width: 100%;
  margin: auto;
  text-align: center;
}
@media (min-width: 769px) {
  .coverless__cover span {
    max-width: 800px;
    text-align: left;
  }
}
.mod__cookies__notification {
  padding: 0;
  align-items: center;
  justify-content: center;
  z-index: 101;
  position: fixed;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.mod__cookies__notification.cookies--alert--show {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}
.mod__cookies {
  background: white;
  color: black;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  position: fixed;
  box-sizing: border-box;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 22;
}
.mod__cookies__text {
  font: 400 0.75rem/1.3 'Acto', sans serif;
  margin: 0 auto 15px;
}
.mod__cookies__actions {
  position: relative;
  text-align: center;
}
.mod__cookies a {
  color: #d6030a;
  text-decoration: underline;
}
.mod__cookies__link {
  height: 30px;
  color: white;
  text-decoration: underline;
  font: 400 0.688rem/30px 'Acto', sans serif;
}
.mod__cookies__link:hover {
  text-decoration: inherit;
}
.mod__cookies__agree {
  height: 35px;
  font: bold 0.813rem/2.5 'Acto', sans serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #d6030a;
  border-radius: 0;
  position: relative;
  width: 117px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.mod__cookies__agree:hover {
  background: black;
  color: white;
}
@media (min-width: 769px) {
  .mod__cookies {
    padding: 23px 0;
  }
  .mod__cookies .row {
    position: relative;
  }
  .mod__cookies__text {
    font: 400 0.938rem/22px 'Acto', sans serif;
    margin: 0 auto 10px;
  }
  .mod__cookies__link {
    font: 400 0.813rem/30px 'Acto', sans serif;
  }
}
.mod__cookies__notification {
  padding: 0;
  align-items: center;
  justify-content: center;
  z-index: 101;
  position: fixed;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.mod__cookies__notification.cookies--alert--show {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}
.mod__cookies {
  background: white;
  color: black;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  position: fixed;
  box-sizing: border-box;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 22;
}
.mod__cookies__text {
  font: 400 0.75rem/1.3 'Acto', sans serif;
  margin: 0 auto 15px;
}
.mod__cookies__actions {
  position: relative;
  text-align: center;
}
.mod__cookies a {
  color: #d6030a;
  text-decoration: underline;
}
.mod__cookies__link {
  height: 30px;
  color: white;
  text-decoration: underline;
  font: 400 0.688rem/30px 'Acto', sans serif;
}
.mod__cookies__link:hover {
  text-decoration: inherit;
}
.mod__cookies__agree {
  height: 35px;
  font: bold 0.813rem/2.5 'Acto', sans serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #d6030a;
  border-radius: 0;
  position: relative;
  width: 117px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.mod__cookies__agree:hover {
  background: black;
  color: white;
}
@media (min-width: 769px) {
  .mod__cookies {
    padding: 23px 0;
  }
  .mod__cookies .row {
    position: relative;
  }
  .mod__cookies__text {
    font: 400 0.938rem/22px 'Acto', sans serif;
    margin: 0 auto 10px;
  }
  .mod__cookies__link {
    font: 400 0.813rem/30px 'Acto', sans serif;
  }
}
